body {
    font-family: Helvetica;
    overflow-x: hidden;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container
{    
            margin: 15em;
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            width:70%;
            height:50%;
}

/*header styling*/
        a:link {
            text-decoration: none;
        }
        
        a:hover {
            cursor: pointer;
        }
        
        .left-container {
            width: 35%;
            display: flex;
            align-items: center;
        }
        
        .middle-container {
            width: 35%;
        }
        
        .right-container {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-content:flex-end;
        }
        
        .rcc {
            position: relative;
            bottom: 3.2em;
            right: 0.8em;
        }
        
        .bar-item, .home, .ppost {
            font-family: "Open Sans";
            font-size: 15px;
            font-style:normal;
            font-variant:normal;
            font-weight:500;
            line-height: 26.4px;
            color: darkgray;
        }
        
        .bar-container {
            display: flex;
            justify-content: center;
        }
        
        .bar {
            height: 1.5em;
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            width: 95%;
            border-bottom-style: ridge;
            border-bottom-color: #d3d3d3;
            border-bottom-width: thin;
        }
        
        .item-container {
            width: 20%;
            display: flex;
            justify-content: space-around;
        }
        
        .a-container {
           
            display: flex;
            flex-direction: row;
            width: 95%;
            height: 5em;
        }
        
        .b-container {
            
            width: 25%;
            display: flex;
            justify-content: space-around;
        }
        
        .menu {
          
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 95%;
            height: 2em;
            border-bottom-style: ridge;
            border-bottom-color: #d3d3d3;
            border-bottom-width: thin;
            border-top-style: ridge;
            border-top-color: #d3d3d3;
            border-top-width: thin;
            
        }
        
        .home, .ppost {
            
            vertical-align: baseline;
            line-height: 2.1em;
            border-right-style: ridge;
            border-right-color: #d3d3d3;
            border-right-width: thin;
            
        }
        
        .t {
            margin-right: 1.8em;
        }
        
        .s {
            margin-right: 3.7em;
        }
        
        .search {
            width: 65%;
            height: 55%;
            padding: 12px 20px 12px 40px;
            margin-top: 1.4em;
            margin-left: 11.3em;
            display: inline-flex;
            box-sizing: border-box;
            background-image: url('magnifyglass.png');
            background-position: 10px 8px; 
            background-size: 25px;
            background-repeat: no-repeat;
            border-style:inset;
        }



a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-decoration-color: darkgrey;
    cursor: pointer;
    
    
}

.header 
{
    background-color: white;
    display: flex;
    flex-direction: row;
    top:0px;
    right: 0px;
    height: 50px;
    width:100%;
    background-color:white;
    box-shadow: 1px 9px 5px -8px rgba(0,0,0,1);
 
    justify-content: space-around;
}

.account
{
    display: flex;
    margin-right: -13em;
    padding:1em;
    flex-direction: row;
    justify-content: space-between;

   
}

h1 {
    font-size: 25px;
    color: dimgrey;
    font-family: Helvetica;
}

h2 {
    padding-right: 3em;
    font-size: 15px;
    color: dimgrey;
}

#page
{
    display: flex;
    flex-direction: column;
    background-size: auto;
}

.full_container
{
    display: flex;
    
}
    
.mydata
{	
	display:flex;
	flex-direction:column;
    padding:30px;
    padding-top: 75px;
}
.name_container
{
	height: 100px;
	width:300px;
	background:linear-gradient(to bottom, skyblue 50%, white 50%);
	font-family:helvetica;
	text-align:center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    
    
}
.uname
{
    color:cornflowerblue;
}
#info_container
{	
    margin-top:20px;
	display:flex;
    flex-direction: column;
    height: 100px;
	width:300px;
    border-radius: 5px;
    padding:1em;
    background-color: white;
    
	
}
#offer_container
{
     margin-top:20px;
	display:flex;
    flex-direction: column;
    height: 100px;
	width:300px;
    border-radius: 5px;
    padding:1em;
    background:linear-gradient(to bottom, aqua 50%, white 50%);
    
   
}
.offerinfo div
{
    display: flex;
    flex-direction: column;
   
    
}
.offer
{
    text-align: center;
    font-size: 14;
    font-weight: bold;
}
.list
{
   margin-top: 2em;
   padding-top: 2em;
    font-size: 13;
}
.list div
{
    padding: 0.5em;
    
}
.list div:hover 
{
    padding: 0.5em;
    cursor: pointer;
    
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
}


.listinfo 
{
	
	flex-direction:column;
	list-style-type: none;
	text-align:left;
	font-size:15;
	width:20:%;
	

}
.listinfo div
{
     color:darkslateblue;
    font-family: helvetica;
	text-align:left;
    padding: 1em;
}
.add_container
{
	
	flex-direction:column;
	text-align:left;
	font-size:15;
    font-family: helvetica;
	width:20:%;
    color:darkslateblue;
  
}

.add_container div
{
	padding:10px;
    color:darkslateblue;
    font-family: helvetica;
	text-align:left;
    
}
.company_info
{
	
	flex-direction:column;
	list-style-type: none;
	text-align:left;
	font-size:15;
	width:20:%;
    color:darkslateblue;
    font-family: helvetica;
	padding-top: 10px;

}
.company_info div
{
    color:indigo;
    font-family: helvetica;
	text-align:left;
    padding-left: 10px;
}



#map
{
    width:20:%;
	height:25%;
    
    
}

#psection
{
	display:flex;	
	flex-direction:column;
	width:50%;
	height:1500px;
    padding:30px;
    padding-top: 60px;
    
    
}

#post_container
{
	
	font-family:helvetica;
    background-color: ;
    display: flex;
    height:100%;
    flex-direction: column;
    border-radius: 5px;
}
#post_box
{
    display: flex;
    flex-direction: column;

}
.post 
{
    margin:1em;
	padding:20px;
    height:10%;
    box-shadow: 2px 8px 18px -3px rgba(0,0,0,0.22);
    background:linear-gradient(to bottom, azure 20%, white 80%);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
      
	
}

.post:hover {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#thumb {
   margin: 1.5em;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.info
{
    font-size: 15px;
    font-family: helvetica;
    padding-top: 2em;
    display: block;
    
    
}

.info div
{
    padding:1mm;
  
}


.all
{
    
    padding:20px;
    margin-left: 1em;
    margin-right: 1em;
    height:2%;
    text-align: center;
    color: cornflowerblue;
    box-shadow: 2px 8px 18px -3px rgba(0,0,0,0.22);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    
    
}

p span
{
    
    color: blue;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-decoration-color: darkgrey;
    cursor: pointer;
    
    
}

#zoomed-photo {
    display: none;
    position: fixed;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
#photo
{
   width: inherit;
    height: inherit;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 29%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.slide-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center ;
    
}
.mySlides {
    margin-top: -5em;
    width:500px;
    height:500px;
    
}

.cursor {
    cursor: pointer;
}

/* Next and previous button */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev
{
    left:-4em;
    top:10em;
    
}
/* "next button" at right */
.next {
    right: -4em;
    top:10em;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: white;
    }

    .x {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: 0px;
        width: 19px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
#detailoff
{
     width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    
}
.offername
{
    font-family: Palatino;
    font-size: 20;
    font-weight: bolder;
}
#detailoff img
{
    align-self: center;
}
#detailoff div
{
    padding: 1em;
}
.btnbox
{
    padding-top: 1em;
    margin-left: 4em;
    display: flex;
    
}

.btnacc
{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-decoration-break: 3;
    border-radius: 3px;
    margin-right: 1em;
}
.btndec
{
    background-color: #EB1818; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-decoration-break: 3;
    border-radius: 3px;
}