{% load static %}
<html>
    <head><title>View Album's Photos</title>
        
        <link rel="stylesheet" type="text/css" href="{%static 'market/homestyle.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <script>
        var idnum =11; <!-- start sa 11 posts--> 
          $(".more").click(function loadpost()
             {
                 
                 var i =1;
                 if(idnum <= 100) <!--size of the number of posts should b placed here-->
                 for(i=1;i <= 5; i++)
                {
                  
                    addNewPost(idnum); 
                    idnum++;
                   
                }
             
               
               $("html, body").animate({ scrollTop: $("#post_container").children().height() }, "slow"); 
             });
        
          function addNewPost(idnum)
             {
                
                 var new_post = document.createElement("div");
                 new_post.className = "post";
                 var new_img = document.createElement("img");
                 new_img.id = "thumb";
                 new_img.setAttribute("src","{%static 'photos/rccshop.png' %}" );
                 var ref = document.createElement("a");
                 ref.setAttribute('href', "Itemdetails.html")
                 ref.appendChild(new_img);
                 var new_info = document.createElement("div");
                 new_info.className = "info";
                 var new_itemname = document.createElement("div");
                 new_itemname.className = "itemname";
                 var new_tag = document.createElement("div");
                 new_tag.className = "tag";
                 var ref2 = document.createElement("a");
                 ref2.setAttribute('href', "userprofile.html")
                 var new_uname = document.createElement("div");
                 new_uname.className = "uname";
                 ref2.appendChild(new_uname);
                 new_info.appendChild(new_itemname);
                 new_info.appendChild(new_tag);
                 new_info.appendChild(ref2);
                 
                 new_post.appendChild(ref);
                 new_post.appendChild(new_info);
                 
                 new_post.id =idnum;
                 $(new_post).hide();
                 $("#post_box").append(new_post);
                 $("#post_container").height(function (index, height) {return (height + 150);});
                 $(new_post).show(0);
                 
                
             }
    </script>
   
    <body>
        <div id = page>
           <div class = "bar-container">
                <div class = "bar">
                    <div class = "item-container">
                        <a href="/market/user"><div class = "bar-item">My Account</div></a>
                        <a href="http://www.wikipedia.org"><div class = "bar-item">Logout</div></a>
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "a-container">
                    <div class = "left-container"> </div>
                    <div class = "middle-container">
                        <img src = "{%static 'photos/rccshop.png' %}" width="300" height="200" class = "rcc"/>
                    </div>
                    <div class = "right-container">
                        <!--<div class = "search-bar"> -->
                            <input type="text" class="search" placeholder="Search tag..." style="background-image:url('{%static 'photos/magnifyglass.png' %}')">
                        <!--</div> -->
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "menu">
                    <div class = "b-container">
                        <a href="/market"><div class = "home"> <span class = "t"> Home </span> </div></a>
                        <a href="/market/postanitem"><div class = "ppost"> <span class = "s"> Post an Item </span> </div></a>
                    </div>
                </div>
            </div>
            

         

            <div id ="post_container">
                {% if latest_posts %}
                <div id = post_box>
                    {% for post in latest_posts %}
                    <div class = post id = 1 >
                        <a href ="Itemdetails.html"><img src= "{%static post.tb_img %}" id ="thumb"  alt="no photo loaded yet"></a>
                        <div class = info>
                            <div class = itemname>{{post.itemname}}</div>
                            <div class = tag>{{post.tag}}</div>
                           <a href = "{% url 'market:user' post.user.id %}"><div class = uname>{{post.user.username}}</div></a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>

                <div class = "footer" id = "more">
                    More Posts...
                </div>
            </div>
        </div>
    </body>
</html>
