{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static 'market/postitemstyle.css' %}"/>
    </head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script>
        $(document).on("keypress", ".search", function(e) {
            if (e.which == 13) {
             alert("IT WORKS THANK THE LORD");
            }
        });
    
    </script>
    <script type="text/javascript">
            var changeType = function() {
                var type = document.getElementById("type");
                var selectedType = type.options[type.selectedIndex].value;
                var newLabel;
                var newPlaceHolder;
                console.log(selectedType);
                if(selectedType === "0") {
                    newLabel = "Course Name";
                    $(".this").append('<div><input type="text" id = "types" placeholder="Enter Course Name" name="other" class="inputs" required></div>')
                }
                else if(selectedType === "1") {
                    newLabel = "";
                    $(".this").children("div").remove();
                }
                
                document.getElementById("lbl").textContent = newLabel;
                
            }
        </script> 
    
   
    <body>
        <div class = "homepage">
            <div class = "bar-container">
                <div class = "bar">
                    <div class = "item-container">
                        <a href="/market/user"><div class = "bar-item">My Account</div></a>
                        <a href="http://www.wikipedia.org"><div class = "bar-item">Logout</div></a>
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "a-container">
                    <div class = "left-container"> </div>
                    <div class = "middle-container">
                        <img src = "{%static 'photos/rccshop.png' %}" width="300" height="200" class = "rcc"/>
                    </div>
                    <div class = "right-container">
                        <!--<div class = "search-bar"> -->
                            <input type="text" class="search" placeholder="Search tag..." style="background-image:url('{%static 'photos/magnifyglass.png' %}')">
                        <!--</div> -->
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "menu">
                    <div class = "b-container">
                        <a href="/market"><div class = "home"> <span class = "t"> Home </span> </div></a>
                        <a href="/market/postanitem"><div class = "post"> <span class = "s"> Post an Item </span> </div></a>
                    </div>
                </div>
            </div>
            
            <div class = "container">
                <form action="{% url 'market:postanitem' post.id %}" method="post">
                    {% csrf_token %}
                    <p>Add a Photo</p>

                        <input type="file" class="pic" name="photo" accept="image/*">

                    <p>What are you selling?</p>

                        <input type="text" class="inputs" name="item" placeholder="Item Name" required>

                    <p>Quantity</p>

                        <input type="number" class="inputs" name="quantity" min="1" placeholder="Quantity" required>

                    <p>What is its condition?</p>

                        <input type="text" class="inputs" name="condition" placeholder="Condition of Item" required>
                    
                    <p>Add a Tag</p>
                    
                        <input type="text" class="inputs" name="tag" placeholder="Item Tag" required>
                    
                    <p>Type</p>
                    
                        <select id="type" onChange = "changeType();">
                            <option value = "1">For office</option>
                            <option value = "0">For academic use</option>
                        </select>
                    
                    <p id="lbl"></p>
                    <div class = "this">
                        
                    </div>
                </form>
                
                <div class = "buttons">
                    <button type="button" class="postbtn"  onclick=""> Post your item now </button>
                </div>
            </div>
        </div>
    </body>
</html>