{% load static %}
<html>
    <head><title>View Album's Photos</title>
        
        <link rel="stylesheet" type="text/css" href="{%static 'market/homestyle.css' %}"/>
      
    </head>
   
    <body>
        <div id = page>
           <div class = "bar-container">
                <div class = "bar">
                    <div class = "item-container">
                        <a href="userprofile.html"><div class = "bar-item">My Account</div></a>
                        <a href="http://www.wikipedia.org"><div class = "bar-item">Logout</div></a>
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "a-container">
                    <div class = "left-container"> </div>
                    <div class = "middle-container">
                        <img src = "{%static 'photos/rccshop.png' %}" width="300" height="200" class = "rcc"/>
                    </div>
                    <div class = "right-container">
                        <!--<div class = "search-bar"> -->
                            <input type="text" class="search" placeholder="Search tag..." style="background-image:url('{%static 'photos/magnifyglass.png' %}')">
                        <!--</div> -->
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "menu">
                    <div class = "b-container">
                        <a href="/market/user"><div class = "home"> <span class = "t"> Home </span> </div></a>
                        <a href="/market/postanitem"><div class = "ppost"> <span class = "s"> Post an Item </span> </div></a>
                    </div>
                </div>
            </div>
            

         

            <div id ="post_container">
                {% if latest_posts %}
                <div id = post_box>
                    {% for post in latest_posts %}
                    <div class = post id = 1 >
                        <a href ="Itemdetails.html"><img id ="thumb"  alt="no photo loaded yet"></a>
                        <div class = info>
                            <div>{{post.itemname}}</div>
                            <div>{{post.tag}}</div>
                             <a href = "userprofile.html"><div>{{post.user.username}}</div></a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>

                <div class = "footer" id = "more">
                    More Posts...
                </div>
            </div>
        </div>
    </body>
</html>
