{% load static %}
<html>
	<head><title>User Profile</title>
		<link rel="stylesheet" type="text/css" href="{%static 'market/userstyle.css' %}"/>
      
	</head>
    
    
   	<body>
        <div id = page>
			<div class = "bar-container">
                <div class = "bar">
                    <div class = "item-container">
                        {% if user.is_authenticated == True %}
                        <div class = "bar-item">Hi, <a href="/market/user"> {{ user.username }} </a> !</div>
                        {% else %}
                        <a href="/register/"><div class = "bar-item">Register</div></a>
                        {% endif %}
                        
                        {% if user.is_authenticated == True %}
                        <a href="/logout/">
                            <div class = "bar-item">Logout</div>
                            </a>
                        {% else %}
                        <a href="/login/">
                            <div class = "bar-item">Login</div>
                        </a>
                         {% endif %}
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "a-container">
                    <div class = "left-container"> </div>
                    <div class = "middle-container">
                        <img src = "{%static 'photos/rccshop.png' %}" width="300" height="200" class = "rcc"/>
                    </div>
                    <div class = "right-container">
                        <!--<div class = "search-bar"> -->
                            <input type="text" class="search" placeholder="Search tag..." style="background-image:url('{%static 'photos/magnifyglass.png' %}')">
                        <!--</div> -->
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "menu">
                    <div class = "b-container">
                        <a href="/market"><div class = "home"> <span class = "t"> Home </span> </div></a>
                        <a href="/market/postanitem"><div class = "ppost"> <span class = "s"> Post an Item </span> </div></a>
                    </div>
                </div>
            </div>
            
			<div class = full_container>
				<div class = mydata>
					<div class = name_container>
                        <div class = name_text>{{user.first_name}} {{user.last_name}}</div>
                        <div></div>
                        <div class = uname>@{{user.username}}</div>
                    
                    </div>
                
                    
                    <div id = info_container>
                        <div class = listinfo>
                                {% if user.types == 1 %}
                                    <div class = types ><span>User Type: Student</span></div>
                                 {% endif %}
                                {%if  user.types == 0 %}    
                                    <div class = types ><span>User Type: Staff</span></div>
                                {% endif %}
                                <div class = types_place ><span>Degree Program/Office : {{user.types_place}}</span></div>
                                
                        </div>
       
                    </div>
				</div>
					
				
				
				
				<div id = psection>
					{% if latest_posts %}
					<div id = post_container>
                        {% for post in latest_posts %}
                        <div id = post_box>
                            <div class = post id = 1 >
                               <a href = "{% url 'market:itemdetail' post.id %}"><img src = "{{ post.tb_img.url }}" id ="thumb"  alt="no photo loaded yet"></a>
                                <div class = info>
                                    <div>{{post.itemname}}</div>
                                    <div>{{post.tag}}</div>
                                     
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                      
                        </div>
                       
                        
						                      
						<div class = all> <span>View All</span> </div>
					</div>
				</div>
		
            </div>
        </div>
	</body>
  
</html>