{% load static %}
<html>
	<head><title>User Profile</title>
		<link rel="stylesheet" type="text/css" href="{%static 'market/userstyle.css' %}"/>
      
	</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <script>
        $(document).on("keypress", ".search", function(e) {
            if (e.which == 13) {
            
            }
        });
    
</script>
    
   	<body>
        <div id = page>
			<div class = "bar-container">
                <div class = "bar">
                    <div class = "item-container">
                        {% if user.is_authenticated == True %}
                        <div class = "bar-item">Hi, <a href="{% url 'market:user' user.id %}"> {{ user.username }} </a> !</div>
                        {% else %}
                        <a href="/register/"><div class = "bar-item">Register</div></a>
                        {% endif %}
                        
                        {% if user.is_authenticated == True %}
                        <a href="/logout/">
                            <div class = "bar-item">Logout</div>
                            </a>
                        {% else %}
                        <a href="/login/">
                            <div class = "bar-item">Login</div>
                        </a>
                         {% endif %}
                    </div>
                </div>
            </div>
            <div class = "bar-container">
                <div class = "a-container">
                    <div class = "left-container"> </div>
                    <div class = "middle-container">
                        <img src = "{%static 'photos/rccshop.png' %}" width="300" height="200" class = "rcc"/>
                    </div>
                    <div class = "right-container">
     <form action="{% url 'market:searchpic' %}">
     	<input type="text" class="search" name = "tag" placeholder="Search tag..." style="background-image:url('{%static 'photos/magnifyglass.png' %}')">
     </form>
</div>

                </div>
            </div>
            <div class = "bar-container">
                <div class = "menu">
                    <div class = "b-container">
                        <a href="/market"><div class = "home"> <span class = "t"> Home </span> </div></a>
                        <a href="/market/postanitem"><div class = "ppost"> <span class = "s"> Post an Item </span> </div></a>
                    </div>
                </div>
            </div>
            
			<div class = full_container>
				<div class = mydata>
					<div class = name_container>
                        <div class = name_text>{{user2.first_name}} {{user2.last_name}}</div>
                        <div></div>
                        <div class = uname>@{{user2.username}}</div>
                    
                    </div>
                
                    
                    <div id = info_container>
                        <div class = listinfo>
                                <div class = types ><span>User Type : {{userprof.types}}</span></div>
                                <div class = types_place ><span>Degree Program/Office :  {{userprof.Degree_Program_or_Office}}</span></div>
                                
                        </div>
       
                    </div>
				</div>
					
				
				
				
				<div id = psection>
					{% if latest_posts %}
					<div id = post_container>
                        {% for post in latest_posts %}
                        <div id = post_box>
                            <div class = post id = 1 >
                               <a href = "{% url 'market:itemdetail' post.id %}"><img src = "{{ post.tb_img.url }}" id ="thumb"  alt="no photo loaded yet"></a>
                                <div class = info>
                                    <div>{{post.itemname}}</div>
                                    <div>{{post.tag}}</div>
                                     
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                      
                        </div>
                       
                        <div class="pagination">
                    <span class="step-links">
                        {% if latest_posts.has_previous %}
                        <a href="?page={{ latest_posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ latest_posts.number }} of {{ latest_posts.paginator.num_pages }}.
                        </span>

                        {% if latest_posts.has_next %}
                        <a href="?page={{ latest_posts.next_page_number }}">next</a>
                        {% endif %}
                    </span>
					</div>
					</div>
				</div>
		
            </div>
        </div>
	</body>
  
</html>